:root {
  --metal-color: #74818a;
  --metal-accent-color: #485761;
  --metal-shadow-color: #3b3b3b;
  --black-color: #000;
  --black-accent-color: #9c9c9c;
  --mouth-opening-color: #d67171;
  --mouth-lips-color: #521a1a;
  --mouth-shadow-color: #331717;
  --metal-gloss-color: #fff;
  --metal-gloss-accent-color: #c9c9c9;
  --skin-color: #d49383;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  width: 640px;
  height: 640px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.pixel.metal {
  background-color: var(--metal-color);
}

.pixel.metal-accent {
  background-color: var(--metal-accent-color);
}

.pixel.metal-shadow {
  background-color: var(--metal-shadow-color);
}

.pixel.black {
  background-color: var(--black-color);
}

.pixel.black-accent {
  background-color: var(--black-accent-color);
}

.pixel.mouth-opening {
  background-color: var(--mouth-opening-color);
}

.pixel.mouth-lips {
  background-color: var(--mouth-lips-color);
}

.pixel.mouth-shadow {
  background-color: var(--mouth-shadow-color);
}

.pixel.metal-gloss {
  background-color: var(--metal-gloss-color);
}

.pixel.metal-gloss-accent {
  background-color: var(--metal-gloss-accent-color);
}

.pixel.skin {
  background-color: var(--skin-color);
}
